pandas==2.2.3
notebook==7.3.2
matplotlib==3.10.1
scikit-learn==1.6.1
seaborn==0.13.2
xgboost==3.0.0
plotly==6.0.1
hdbscan==0.8.40
geopandas==1.0.1
contextily==1.6.2
umap-learn==0.5.7
ipywidgets==8.1.6
